node_modules
dist
.cabal-sandbox
twigserial.wordpress.com/
archive/
.DS_Store
cabal.sandbox.config
web/build
npm-debug.log
.vagrant/
.vagrant
rethinkdb_data
.lvimrc
web/version.txt
doc/notes.md
server/Version.hs
